# jupyter
.ipynb_checkpoints

# pixi
.pixi
pixi.lock

# pycharm / vscode
.idea
.vscode

# python
dist
__pycache__

# vim
*.swp

# output
wdir/

# c++
src/cpp_main/CMakeLists.txt

# tmp
src/cpp_torch/modules/data
src/cpp_torch/modules/graph
src/cpp_torch/modules/output
src/cpp_torch/modules/weights

