nodes:
  data:
    node_builder:
      _target_: anemoi.graphs.nodes.ReducedGaussianGridNodes
      grid: o16
  hidden_3:
    node_builder:
      _target_: anemoi.graphs.nodes.TriNodes
      resolution: 3
  hidden_2:
    node_builder:
      _target_: anemoi.graphs.nodes.TriNodes
      resolution: 2
  hidden_1:
    node_builder:
      _target_: anemoi.graphs.nodes.TriNodes
      resolution: 1

edges:
  - source_name: data
    target_name: hidden_3
    edge_builders:
      - _target_: anemoi.graphs.edges.CutOffEdges
        cutoff_factor: 1
  - source_name: hidden_3
    target_name: hidden_3
    edge_builders:
      - _target_: anemoi.graphs.edges.MultiScaleEdges
        x_hops: 1
  - source_name: hidden_3
    target_name: hidden_2
    edge_builders:
      - _target_: anemoi.graphs.edges.CutOffEdges
        cutoff_factor: 0.6
  - source_name: hidden_2
    target_name: hidden_2
    edge_builders:
      - _target_: anemoi.graphs.edges.MultiScaleEdges
        x_hops: 1
  - source_name: hidden_2
    target_name: hidden_1
    edge_builders:
      - _target_: anemoi.graphs.edges.CutOffEdges
        cutoff_factor: 0.6
  - source_name: hidden_1
    target_name: hidden_1
    edge_builders:
      - _target_: anemoi.graphs.edges.MultiScaleEdges
        x_hops: 1
  - source_name: hidden_1
    target_name: hidden_2
    edge_builders:
      - _target_: anemoi.graphs.edges.CutOffEdges
        cutoff_factor: 2.2
  - source_name: hidden_2
    target_name: hidden_3
    edge_builders:
      - _target_: anemoi.graphs.edges.CutOffEdges
        cutoff_factor: 2.2
  - source_name: hidden_3
    target_name: data
    edge_builders:
      - _target_: anemoi.graphs.edges.KNNEdges
        num_nearest_neighbours: 10

